/* rasp.css */

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

table.schedule {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* To keep cells of equal width */
}

table.schedule td, table.schedule th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: top;
    min-height: 100px; /* adjust as needed */
}

.schedule td div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

table.schedule th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

table.schedule td div:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

form {
    margin-top: 10px;
}
.lector {
    margin-bottom: 5px;
}
.comment {
    font-weight: bold;
}

.commentator {
    font-weight: bold;
}

.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    height: 100%;
}

