body, h1, h2, div, button, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation buttons */
.course-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    display: inline-block;
}

/* Faculty container */
.faculty-container {
    display: flex;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}



.course-button:hover {
    background-color: #0056b3;
}

/* Course containers */
.course-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h1, h2 {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    font-size: 85%;
    text-decoration: none;
    padding: 5px 10px;
    margin: 7px 5px;
    border-radius: 50px;=
}

.button:hover {
    background-color: #1e7e34;
}
