<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/index.css" rel='stylesheet'>
	<link href="/css/styles.css" rel='stylesheet'>
	<title>Диплом</title>
</head>
<body>

	<div class="auth">
		<div class="auth__body">
			<div class="auth__logo">
				<img src="/img/logo.svg" alt="Логотип" width="160" height="160">
			</div>
			<h1 class="auth__title">Вход в систему</h1>
			<div class="auth__interactive">
				<input type="text" class="auth__input" autofocus placeholder="Ваше имя" />
				<span class="auth__entry">
					<svg xmlns="http://www.w3.org/2000/svg" fill='currentColor' viewBox="0 0 448 512"><path fill='currentColor' d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
				</span>
			</div>
			<label class="auth__settings" tabindex="0">
				<input type="checkbox" />Оставаться в системе
				<span class="auth__checkbox"></span>
			</label>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="/js/js.js"></script>
</body>
</html>