<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Beautiful Page</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="container">
  <!-- Navigation buttons -->
  <div>
    <button th:each="courseEntry : ${groupMap}" th:attr="data-course=${courseEntry.key}" class="course-button" onclick="showCourse(this.getAttribute('data-course'))" th:text="${courseEntry.key}"></button>
  </div>


  <!-- Course containers -->
  <div th:each="courseEntry : ${groupMap}" th:id="${courseEntry.key}" class="course-container" style="display: none;">
    <h1 th:text="${courseEntry.key}"></h1>
    <!-- Faculty containers -->
    <div th:each="facultyEntry : ${courseEntry.value}" class="faculty-container">
      <h2 th:text="${facultyEntry.key}"></h2>
      <div th:each="group : ${facultyEntry.value}">
        <a th:href="@{'/rasp'(raspUrl=${group.groupHref})}" class="button" th:text="${group.groupName}"></a>
      </div>
    </div>
  </div>


</div>
<script src="/main.js"></script>
</body>
</html>
