<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Главная страница</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
  <!-- Navigation buttons -->
  <div>
    <button th:each="courseEntry : ${groupMap}" th:attr="data-course=${courseEntry.key}" class="course-button" onclick="showCourse(this.getAttribute('data-course'))" th:text="${courseEntry.key}"></button>
  </div>
  <!-- Course containers -->
  <div th:each="courseEntry : ${groupMap}" th:id="${courseEntry.key}" class="course-container" style="display: none;">
    <h1 th:text="${courseEntry.key}"></h1>
    <!-- Faculty containers -->
    <div th:each="facultyEntry : ${courseEntry.value}" class="faculty-container">
      <h2 th:text="${facultyEntry.key}"></h2>
      <div class="button-container">
        <div th:each="group : ${facultyEntry.value}">
          <a th:href="@{'/rasp'(raspUrl=${group.groupHref}, groupName=${group.groupName})}" class="button" th:text="${group.groupName}"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>


<div th:each="moduleEntry : ${ modules.entrySet()} " th:id="'time2'" th:text="${moduleEntry.key}">

  <div th:each="module : ${moduleEntry.getValue()}" class="shedule__item event" th:data-column="'column' + ${module.getDayNumber()}" th:data-row="'time' + ${index}">
    <div class="event__body">
      <h3 class="event__title" th:text="${module.getClassName()}"></h3>
      <p class="event__info">Надо будет еще статистику делать, а тут какие-то странные пары</p>
      <textarea class="event__message" placeholder="Сообщение"></textarea>
    </div>
  </div>
</div>