<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Расписание</title>
    <link rel="stylesheet"  href="/css/rasp.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Расписание</h1>
<div class="switcher">
    <!-- Без понятия, как соотнести радио кнопки, чтобы они были прожатыми при использовании скрипта-->
    <label for="evenSwitchNo">Odd:</label>
    <input type="radio" id="evenSwitchNo" name="evenSwitch" value="0" onchange="switchRasp()"/>
    <span class="radio-label">No</span>
    <input type="radio" id="evenSwitchYes" name="evenSwitch" value="1" onchange="switchRasp()"/>
    <span class="radio-label">Yes</span>

    <script>
        function switchRasp() {
            const evenSwitch = document.querySelector('input[name="evenSwitch"]:checked');
            const urlParams = new URLSearchParams(window.location.search);
            const raspUrl = urlParams.get("raspUrl");
            const groupName = urlParams.get("groupName");
            const evenParam = evenSwitch.value;
            const newUrl = "/rasp?raspUrl=" + encodeURIComponent(raspUrl) + "&odd=" + encodeURIComponent(evenParam) + "&groupName=" + encodeURIComponent(groupName);
            window.location.href = newUrl;
        }
    </script>
    <!-- Добавить кнопку обратно на страницу-->
</div>


<table class="schedule">
    <thead>
    <tr>
        <th>Time / Day</th>
        <th th:each="day : ${daysOfWeek}"><p th:text="${day}"></p></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="time : ${classTimes}">
        <td th:text="${time}"></td>
        <td th:each="day : ${daysOfWeek}">
            <div th:each="classEntry : ${scheduleData.getDaySchedule(day).entrySet()}" th:if="${classEntry.key == time}">
                <div class="shadow">
                    <!-- This div will hold the className, type, and room, ensuring they always appear at the top -->
                    <div>
                        <p th:text="${classEntry.value.className}"></p>
                        <p th:text="${classEntry.value.type}"></p>
                        <p th:text="${classEntry.value.room}"></p>
                    </div>
                    <p class="lector" th:each="lecturer : ${classEntry.value.lector}" th:if="${!lecturer.isEmpty()}" th:text="${lecturer}"></p>
                    <p class="comment" th:if="${classEntry.value.comment != null}" th:text="${classEntry.value.comment}"></p>
                    <p class="commentator" th:if="${classEntry.value.commentator != null}" th:text="'Comment by: ' + ${classEntry.value.commentator}"></p>
                    <!-- не работает оставление комментария из - за отсутствия параметра odd - именно поэтому комменты стали
                    оставляться только после использования хотя бы раз радиобокса-->
                    <!-- сейчас оставляются только в самом начале, после нажатия на радио боксы перестают оставляться из - за проблем с request params -->
                    <form th:if="${!classEntry.value.className.isEmpty()}" th:action="@{/rasp/comment/post}" method="post">
                        <input type="hidden" name="day" th:value="${day}" />
                        <input type="hidden" name="time" th:value="${time}" />
                        <textarea name="comment" placeholder="Оставить комментарий" style="width: 100%;"></textarea>
                        <input type="submit" value="Отправить" />
                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<script src="/js/rasp.js"></script>
</body>
</html>
