<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Расписание</title>
    <link rel="stylesheet"  href="/css/rasp.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Расписание</h1>
<table class="schedule">
    <thead>
    <tr>
        <th>Time / Day</th>
        <th th:each="day : ${daysOfWeek}"><p th:text="${day}"></p></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="time : ${classTimes}">
        <td th:text="${time}"></td>
        <td th:each="day : ${daysOfWeek}">
            <div th:each="classEntry : ${scheduleData.getDaySchedule(day).entrySet()}" th:if="${classEntry.key == time}">
                <div class="shadow">
                    <!-- This div will hold the className, type, and room, ensuring they always appear at the top -->
                    <div>
                        <p th:text="${classEntry.value.className}"></p>
                        <p th:text="${classEntry.value.type}"></p>
                        <p th:text="${classEntry.value.room}"></p>
                    </div>
                    <ul>
                        <li class="lector" th:each="lecturer : ${classEntry.value.lector}" th:if="${!lecturer.isEmpty()}" th:text="${lecturer}"></li>
                    </ul>
                    <p class="comment" th:if="${classEntry.value.comment != null}" th:text="${classEntry.value.comment}"></p>
                    <p class="commentator" th:if="${classEntry.value.commentator != null}" th:text="'Comment by: ' + ${classEntry.value.commentator}"></p>
                    <form th:if="${!classEntry.value.className.isEmpty()}" th:action="@{/rasp/comment/post}" method="post">
                        <input type="hidden" name="day" th:value="${day}" />
                        <input type="hidden" name="time" th:value="${time}" />
                        <textarea name="comment" placeholder="Оставить комментарий"></textarea>
                        <input type="submit" value="Отправить" />
                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<script src="/js/rasp.js"></script>
</body>
</html>
