<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>My Schedule</title>
 <link rel="stylesheet" href="/rasp.css">
</head>
<body>
<h1>My Schedule</h1>
<table class="schedule">
 <thead>
 <tr>
  <th>Time / Day</th>
  <th th:each="day : ${daysOfWeek}"><p th:text="${day}"></p></th>
 </tr>
 </thead>
 <tbody>
 <tr th:each="time : ${classTimes}">
  <td th:text="${time}"></td>
  <td th:each="day : ${daysOfWeek}">
   <div th:each="classEntry : ${scheduleData.getDaySchedule(day).entrySet()}" th:if="${classEntry.key == time}">
    <p th:text="${classEntry.value.className}"></p>
    <p th:text="${classEntry.value.type}"></p>
    <p th:text="${classEntry.value.room}"></p>
    <ul>
     <li th:each="lecturer : ${classEntry.value.lector}" th:text="${lecturer}"></li>
    </ul>
   </div>
  </td>
 </tr>
 </tbody>
</table>
</body>
</html>
