<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Диплом</title>
	<link href="/css/index.css" rel='stylesheet'>
	<link href="/css/shedule.css" rel='stylesheet'>
</head>
<body>
	<div class="filter">
		<div class="filter__body">
			<div class="filter__item">
				<input class="filter__input" data-filter="course" placeholder="Курс" type="text" />
				<div class="filter__selection">
					<span class="filter__option" th:each="courseEntry : ${groupMap}" th:text="${courseEntry.getKey()}"></span>
				</div>
			</div>
			<div class="filter__item">
				<input class="filter__input" data-filter="faculty" placeholder="Факультет" type="text" />
				<div class="filter__selection">
					<span class="filter__option" th:each="faculty : ${Faculties}" th:text="${faculty}"></span>
				</div>
			</div>
			<div class="filter__item">
				<input class="filter__input" data-filter="group" placeholder="Группа" type="text" />
				<div class="filter__selection" data-filter-selection="group"></div>
			</div>
			<input type='button' value="Поиск" class="filter__search" tabindex="-1" />
			<div class="switcher">
				<input type="checkbox" class="switcher__checkbox" id="ODD" />
				<span class="switcher__item switcher__item_even" onclick='$(".switcher__checkbox").attr("checked", true)'>Четная неделя</span>
				<span class="switcher__item switcher__item_odd" onclick='$(".switcher__checkbox").attr("checked", false)'>Нечетная неделя</span>
			</div>
		</div>
	</div>

	<div class="shedule">
		<div class="shedule__body">

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="/js/js.js"></script>
</body>
</html>