<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Диплом</title>
	<link href="/css/index.css" rel='stylesheet'>
	<link href="/css/shedule.css" rel='stylesheet'>
</head>
<body>
	<div class="filter">
		<div class="filter__body">
			<div class="filter__item">
				<input class="filter__input" data-filter="course" placeholder="Курс" type="text" />
				<div class="filter__selection">
					<span class="filter__option" th:each="courseEntry : ${groupMap}" th:text="${courseEntry.getKey()}"></span>
				</div>
			</div>
			<div class="filter__item">
				<input class="filter__input" data-filter="faculty" placeholder="Факультет" type="text" />
				<div class="filter__selection">
					<span class="filter__option" th:each="faculty : ${Faculties}" th:text="${faculty}"></span>
				</div>
			</div>
			<div class="filter__item">
				<input class="filter__input" data-filter="group" placeholder="Группа" type="text" />
				<div class="filter__selection" data-filter-selection="group"></div>
			</div>
			<input type='button' value="Поиск" class="filter__search" tabindex="-1" />
			<div class="switcher">
				<input type="checkbox" class="switcher__checkbox" id="ODD" />
				<span class="switcher__item switcher__item_even" onclick='$(".switcher__checkbox").attr("checked", true)'>Четная неделя</span>
				<span class="switcher__item switcher__item_odd" onclick='$(".switcher__checkbox").attr("checked", false)'>Нечетная неделя</span>
			</div>
		</div>
	</div>

	<div class="shedule">
		<div class="shedule__body">
			<span class="shedule__header" id="columnTime">Время</span>
			<span class="shedule__header" id="column1">Понедельник</span>
			<span class="shedule__header" id="column2">Вторник</span>
			<span class="shedule__header" id="column3">Среда</span>
			<span class="shedule__header" id="column4">Четверг</span>
			<span class="shedule__header" id="column5">Пятница</span>
			<span class="shedule__header" id="column6">Суббота</span>
			<span class="shedule__time shedule__header" id="time1">9:00 - 10:30</span>
			<div class="shedule__item event" data-column="column1" data-row="time1">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item event" data-column="column2" data-row="time1">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item event" data-column="column3" data-row="time1">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item"></div>
			<div class="shedule__item event" data-column="column5" data-row="time1">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item event" data-column="column6" data-row="time1">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
	
			<span class="shedule__time shedule__header" id="time2">10:45 - 12:15</span>
			<div class="shedule__item"></div>
			<div class="shedule__item event" data-column="column2" data-row="time2">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item event" data-column="column3" data-row="time2">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item"></div>
			<div class="shedule__item event" data-column="column5" data-row="time2">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item"></div>
	
			<span class="shedule__time shedule__header" id="time3">12:30 - 14:00</span>
			<div class="shedule__item event" data-column="column1" data-row="time3">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item"></div>
			<div class="shedule__item event" data-column="column3" data-row="time3">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item event" data-column="column4" data-row="time3">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item event" data-column="column5" data-row="time3">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="shedule__item event" data-column="column6" data-row="time3">
				<div class="event__body">
					<h3 class="event__title">АССУ ЕСБО</h3>
					<p class="event__info">Надо будет еще статистику делать, а тут какие то странные пары</p>
					<textarea class="event__message" placeholder="Сообщение"></textarea>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="/js/js.js"></script>
</body>
</html>